<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watermelon Disease Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Watermelon Disease Classifier</h1>
        <img id="previewImage" alt="Image Preview" style="display:none;"/>
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" name="image" id="imageUpload" required onchange="readURL(this);">
            <button type="button" onclick="uploadImage()">Analyze Image</button>
        </form>
        <p id="predictionResult"></p>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>
